<!--
 ===============================================================================
 ===============================================================================
 =
 = Project 2: Caregivers Portal
 = Module: nav.ejs
 = Created: 02-Mar-2020
 =
 = Description: Navigation partial.
 =
 ===============================================================================
 ===============================================================================
 -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top primary-theme">
    <a class="navbar-brand" href="/caregivers">Caregivers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/caregivers">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/caregivers/new">New Caregiver</a>
            </li>
        </ul>
        <% if (currentUser) { %>
            <span class="nav-item inactive">
                <a class="nav-link disabled" href="#" style="color: white;">Welcome <%= currentUser.username %></a>
            </span>
            <form action="/sessions?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-light">Log Out</button>
            </form>
        <% } else { %>
            <span class="nav-item active">
                <a class="nav-link" href="/sessions/new" style="color: white;">Login</a>
            </span>
            <a href="/users/new">
            <button class="btn btn-outline-light" type="submit">Sign Up</button></a>
        <% } %>
    </div>
</nav>
