.index-body {
    padding-top: 3rem;
}

.page-body {
    padding-top: 5rem;
}

.description {
    height: 5em;
}

.primary-theme {
    background-color: #82b3ae;
}

.secondary-theme {
    background-color: #94b9af;
}
