<!DOCTYPE html>

<!--
 ===============================================================================
 ===============================================================================
 =
 = Project 2: Caregivers Portal
 = Module: new.ejs
 = Created: 02-Mar-2020
 =
 = Description: Page for creating new caregiver.
 =
 ===============================================================================
 ===============================================================================
 -->

<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body class="page-body">
        <%- include('../partials/nav.ejs') %>
        <div class="container">
            <h3>New Caregiver</h3>
            <form  action="/caregivers" method="POST">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="textarea" rows="3" class="form-control description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Web Site</label>
                    <input type="text" class="form-control" name="webSite">
                </div>
                <div class="form-group">
                    <label>Services</label>
                    <input type="text" class="form-control" name="services">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="takingNewClients" id="takingNewClients">
                    <label class="form-check-label" for="takingNewClients">Taking New Clients</label>
                </div>

                <button type="submit" class="btn btn-secondary secondary-theme btn-outline-light">Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
